Dev_pdf_poppler_output/
*.txt
segmenteR/..Rcheck/
segmenteR/.RData
segmenteR/.Rbuildignore
segmenteR/.Rhistory
segmenteR/.Rproj.user/
segmenteR/inst/doc
segmenteR/tests/testthat/Abrams, M T et al 2010.pdf
segmenteR/vignettes/Abrams, M T et al 2010.pdf
segmenteR/tests/testthat/english-gum-ud-2.4-190531.udpipe
segmenteR/vignettes/english-gum-ud-2.4-190531.udpipe 
segmenteR/vignettes/english-gum-ud-2.4-190531.udpipe 
.Rhistory
